<h2 class="text-white">
  <% if @articles.present? %> 
    <%= pluralize(@articles.count, 'artigo') %> encontrados.
  <% else %>
    Nenhum artigo encontrado.
  <% end %>
</h2>

<% @articles.each do |article| %>
  <%= render 'article', article: article %>
<% end %>


